{{#if settings.account_creation_enabled}}
<!-- <ul class="account-link enabled"> -->
    <li class="navUser-item navUser-item--account user-icons account">
      {{#if customer}}
      <!-- <a class="navUser-action with-logout" href="{{urls.account.index}}"><svg><use xlink:href="#icon-profile" /></svg></a> -->
      <!-- <a class="navUser-action logout" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a> -->
      <a class="navUser-action account signout-list" alt="User Toolbox" href="javascript:void(0)"><svg class="header-icon account-icon"><use xlink:href="#icon-account"></use></svg></a>
      <div class="dropdown-menu signout-list" id="account-dropdown-signout-list">
        <!-- <h2 class="container-header">Account Info</h2> -->
          {{> components/common/account-dropdown-signout}}
        <a class="navBar-action signout-list" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
        <!-- <hr class="left full-width" /> -->
        <!-- { {> components / common / currency-selector-dropdown } } -->
      </div>
      {{else}}
        <a class="navUser-action account signin-list" alt="User Toolbox" href="{{urls.auth.login}}">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" style="enable-background:new 0 0 128 128;" version="1.1" viewBox="0 0 128 128" xml:space="preserve" height="24"><g><path d="M30,49c0,18.7,15.3,34,34,34s34-15.3,34-34S82.7,15,64,15S30,30.3,30,49z M90,49c0,14.3-11.7,26-26,26S38,63.3,38,49   s11.7-26,26-26S90,34.7,90,49z"></path><path d="M24.4,119.4C35,108.8,49,103,64,103s29,5.8,39.6,16.4l5.7-5.7C97.2,101.7,81.1,95,64,95s-33.2,6.7-45.3,18.7L24.4,119.4z"></path></g></svg>
        </a>
        <!-- <a class="navUser-action login" href="{{urls.auth.login}}">{{lang 'common.login'}}</a> -->
        <div class="dropdown-menu signin-list" id="account-dropdown-signin-list">
          <!-- <h2 class="container-header">Account Info</h2> -->
            {{> components/common/account-dropdown-signin}}
            <!-- <hr class="left full-width" /> -->
            <!-- { {> components / common / currency-selector-dropdown } } -->
            <!-- <a class="button button--primary signin-register logout-button" href="{{urls.auth.login}}">{{lang 'common.login'}}</a> -->
        </div>
      {{/if}}
     </li>
{{/if}}
<!-- </ul> -->
