{{#if settings.account_creation_enabled}}
<!-- <ul class="account-link enabled"> -->
    <li class="navUser-item navUser-item--account user-icons account">
      {{#if customer}}
      <!-- <a class="navUser-action with-logout" href="{{urls.account.index}}"><svg><use xlink:href="#icon-profile" /></svg></a> -->
      <!-- <a class="navUser-action logout" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a> -->
      <a class="navUser-action account signout-list" alt="User Toolbox" href="javascript:void(0)"><svg class="header-icon account-icon"><use xlink:href="#icon-account"></use></svg></a>
      <div class="dropdown-menu signout-list" id="account-dropdown-signout-list">
        <!-- <h2 class="container-header">Account Info</h2> -->
          {{> components/common/account-dropdown-signout}}
        <a class="navBar-action signout-list" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
        <!-- <hr class="left full-width" /> -->
        <!-- { {> components / common / currency-selector-dropdown } } -->
      </div>
      {{else}}
        <a class="navUser-action account signin-list" alt="User Toolbox" href="{{urls.auth.login}}"><svg class="header-icon account-icon"><use xlink:href="#icon-account"></use></svg></a>
        <!-- <a class="navUser-action login" href="{{urls.auth.login}}">{{lang 'common.login'}}</a> -->
        <div class="dropdown-menu signin-list" id="account-dropdown-signin-list">
          <!-- <h2 class="container-header">Account Info</h2> -->
            {{> components/common/account-dropdown-signin}}
            <!-- <hr class="left full-width" /> -->
            <!-- { {> components / common / currency-selector-dropdown } } -->
            <!-- <a class="button button--primary signin-register logout-button" href="{{urls.auth.login}}">{{lang 'common.login'}}</a> -->
        </div>
      {{/if}}
     </li>
{{/if}}
<!-- </ul> -->
