<nav class="navBar navBar--sub navBar--account signin-list">
    <ul class="navBar-section signout-list">
      <li>
          <a class="navBar-action signout-list" href="/customer/account"> My account</a>
        </li>
      <li>
          <a class="navBar-action signout-list" href="/wishlist">  My Wish List</a>
        </li>
      <li>
          <a class="navBar-action signout-list" href="{{urls.auth.create_account}}">  {{lang 'common.sign_up'}}</a>
        </li>
      <li>
        <a class="navBar-action signout-list" href="{{urls.auth.login}}">{{lang 'common.login'}}  </a>
        </li>
    </ul>
</nav>
