{{{region name="header_top--global"}}}
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header header-logo--{{theme_settings.logo-position}}" role="banner">
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>

  <div class="logo-user-section container">
    {{#if page_type '===' 'default'}}
       <!-- <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{!> components/common/store-logo}}
        </h1>-->
        <div class="header-logo header-logo--{{theme_settings.logo-position}}">
           <a class="logo" href="/" title="Signal Sounds" aria-label="store logo">
                <img src="https://signal-sounds-alb.mybigcommerce.com/content/header-logo.svg" width="164" height="75" alt="Signal Sounds" />
           </a>
        </div>
        {{> components/common/navigation}}
    {{else}}
        <div class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{!> components/common/store-logo}}
            <a class="logo" href="/" title="Signal Sounds" aria-label="store logo">
                <img src="https://signal-sounds-alb.mybigcommerce.com/content/header-logo.svg" width="164" height="75" alt="Signal Sounds" />
           </a>
        </div>
        {{> components/common/navigation}}
    {{/if}}
  </div>
    <div id="menu-wrapper">
        <div class="navPages-container" id="menu" data-menu>
          {{> components/common/navigation-menu}}
          <div class="clear"></div>
        </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>

</header>
<div class="below_nav_container">
    {{{region name="header_below_nav--global"}}}
</div>
<div class="below_nav_clear clear" style="margin-top: 0px;"></div>
