<div class="sections nav-sections">
    <div class="section-items nav-sections-items" role="tablist">
        <div class="section-item-title nav-sections-item-title active" data-role="collapsible" role="tab"
            data-collapsible="true" aria-controls="store.menu" aria-selected="false" aria-expanded="true" tabindex="0">
            <a class="nav-sections-item-switch" data-toggle="switch" href="#store.menu">
                Menu </a>
        </div>
        <div class="section-item-content nav-sections-item-content" id="store.menu" data-role="content" role="tabpanel"
            aria-hidden="false">

            <nav class="navigation" data-action="navigation">
                <ul id="ui-id-2" class="ui-menu ui-widget ui-widget-content ui-corner-all ui-menu-icons" role="menu"
                    tabindex="0">
                    <li class="level0 nav-1 category-item first level-top parent ui-menu-item" role="presentation"><a
                            href="/modular" class="level-top ui-corner-all"
                            aria-haspopup="true" id="ui-id-3" tabindex="-1" role="menuitem"><span
                                class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span><span>Modular Synthesisers
                            </span></a>
                        <ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu"
                            aria-hidden="true" aria-expanded="false" style="display: none;">
                            <li class="level1 nav-1-1 category-item first ui-menu-item" role="presentation"><a
                                    href="/modular/1u-modules" id="ui-id-10"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>1U Modules</span></a></li>
                            <li class="level1 nav-1-2 category-item ui-menu-item" role="presentation"><a
                                    href="/modular/buchla-format" id="ui-id-11"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Buchla Format</span></a>
                            </li>
                            <li class="level1 nav-1-3 category-item ui-menu-item" role="presentation"><a
                                    href="/modular/clock" id="ui-id-12"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Clock</span></a></li>
                            <li class="level1 nav-1-4 category-item ui-menu-item" role="presentation"><a
                                    href="/modular/cv-controller" id="ui-id-13"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>CV Controller</span></a>
                            </li>
                            <li class="level1 nav-1-5 category-item ui-menu-item" role="presentation"><a
                                    href="/modular/drum" id="ui-id-14" class="ui-corner-all"
                                    tabindex="-1" role="menuitem"><span>Drum</span></a></li>
                            <li class="level1 nav-1-6 category-item parent ui-menu-item" role="presentation"><a
                                    href="/modular/effects" aria-haspopup="true"
                                    id="ui-id-15" class="ui-corner-all" tabindex="-1" role="menuitem"><span
                                        class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span><span>Effects</span></a>
                                <ul class="level1 submenu ui-menu ui-widget ui-widget-content ui-corner-all expanded"
                                    role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
                                    <li class="level2 nav-1-6-1 category-item first ui-menu-item" role="presentation"><a
                                            href="/modular/effects/bit-crusher"
                                            id="ui-id-34" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Bit
                                                Crusher</span></a></li>
                                    <li class="level2 nav-1-6-2 category-item ui-menu-item" role="presentation"><a
                                            href="/modular/effects/distortion" id="ui-id-35"
                                            class="ui-corner-all" tabindex="-1"
                                            role="menuitem"><span>Distortion</span></a></li>
                                    <li class="level2 nav-1-6-3 category-item ui-menu-item" role="presentation"><a
                                            href="/modular/effects/delay" id="ui-id-36"
                                            class="ui-corner-all" tabindex="-1" role="menuitem"><span>Delay</span></a>
                                    </li>
                                    <li class="level2 nav-1-6-4 category-item ui-menu-item" role="presentation"><a
                                            href="/modular/effects/reverb" id="ui-id-37"
                                            class="ui-corner-all" tabindex="-1" role="menuitem"><span>Reverb</span></a>
                                    </li>
                                    <li class="level2 nav-1-6-5 category-item ui-menu-item" role="presentation"><a
                                            href="/modular/effects/ring-modulator"
                                            id="ui-id-38" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Ring
                                                Modulator</span></a></li>
                                    <li class="level2 nav-1-6-6 category-item ui-menu-item" role="presentation"><a
                                            href="/modular/effects/phase-shifter"
                                            id="ui-id-39" class="ui-corner-all" tabindex="-1"
                                            role="menuitem"><span>Phase Shifter</span></a></li>
                                    <li class="level2 nav-1-6-7 category-item last ui-menu-item" role="presentation"><a
                                            href="/modular/effects/waveshaper" id="ui-id-40"
                                            class="ui-corner-all" tabindex="-1"
                                            role="menuitem"><span>Waveshaper</span></a></li>
                                </ul>
                            </li>
                            <li class="level1 nav-1-7 category-item parent ui-menu-item" role="presentation"><a
                                    href="/modular/envelope-generator" aria-haspopup="true"
                                    id="ui-id-16" class="ui-corner-all" tabindex="-1" role="menuitem"><span
                                        class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span><span>Envelope
                                        Generator</span></a>
                                <ul class="level1 submenu ui-menu ui-widget ui-widget-content ui-corner-all expanded"
                                    role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
                                    <li class="level2 nav-1-7-1 category-item first last ui-menu-item"
                                        role="presentation"><a
                                            href="/modular/envelope-generator/envelope-follower"
                                            id="ui-id-41" class="ui-corner-all" tabindex="-1"
                                            role="menuitem"><span>Envelope Follower</span></a></li>
                                </ul>
                            </li>
                            <li class="level1 nav-1-8 category-item parent ui-menu-item" role="presentation"><a
                                    href="/modular/filter-vcf" aria-haspopup="true"
                                    id="ui-id-17" class="ui-corner-all" tabindex="-1" role="menuitem"><span
                                        class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span><span>Filter
                                        (VCF)</span></a>
                                <ul class="level1 submenu ui-menu ui-widget ui-widget-content ui-corner-all expanded"
                                    role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
                                    <li class="level2 nav-1-8-1 category-item first last ui-menu-item"
                                        role="presentation"><a
                                            href="/modular/filter-vcf/low-pass-gate"
                                            id="ui-id-42" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Low
                                                Pass Gate</span></a></li>
                                </ul>
                            </li>
                            <li class="level1 nav-1-9 category-item ui-menu-item" role="presentation"><a
                                    href="/modular/lfo-modulation" id="ui-id-18"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>LFO &amp;
                                        Modulation</span></a></li>
                            <li class="level1 nav-1-10 category-item ui-menu-item" role="presentation"><a
                                    href="/modular/midi-interface" id="ui-id-19"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>MIDI Interface</span></a>
                            </li>
                            <li class="level1 nav-1-11 category-item parent ui-menu-item" role="presentation"><a
                                    href="/modular/cases" aria-haspopup="true" id="ui-id-20"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span
                                        class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span><span>Cases</span></a>
                                <ul class="level1 submenu ui-menu ui-widget ui-widget-content ui-corner-all expanded"
                                    role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
                                    <li class="level2 nav-1-11-1 category-item first last ui-menu-item"
                                        role="presentation"><a
                                            href="/modular/cases/blanking-panels"
                                            id="ui-id-43" class="ui-corner-all" tabindex="-1"
                                            role="menuitem"><span>Blanking panels</span></a></li>
                                </ul>
                            </li>
                            <li class="level1 nav-1-12 category-item ui-menu-item" role="presentation"><a
                                    href="/modular/mixer" id="ui-id-21"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Mixer</span></a></li>
                            <li class="level1 nav-1-13 category-item ui-menu-item" role="presentation"><a
                                    href="/modular/multiple" id="ui-id-22"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Multiple</span></a></li>
                            <li class="level1 nav-1-14 category-item ui-menu-item" role="presentation"><a
                                    href="/modular/noise" id="ui-id-23"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Noise</span></a></li>
                            <li class="level1 nav-1-15 category-item ui-menu-item" role="presentation"><a
                                    href="/modular/oscillators" id="ui-id-24"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Oscillators</span></a>
                            </li>
                            <li class="level1 nav-1-16 category-item parent ui-menu-item" role="presentation"><a
                                    href="/modular/power" aria-haspopup="true" id="ui-id-25"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span
                                        class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span><span>Power</span></a>
                                <ul class="level1 submenu ui-menu ui-widget ui-widget-content ui-corner-all expanded"
                                    role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
                                    <li class="level2 nav-1-16-1 category-item first last ui-menu-item"
                                        role="presentation"><a
                                            href="/modular/power/power-cables" id="ui-id-44"
                                            class="ui-corner-all" tabindex="-1" role="menuitem"><span>Power
                                                cables</span></a></li>
                                </ul>
                            </li>
                            <li class="level1 nav-1-17 category-item ui-menu-item" role="presentation"><a
                                    href="/modular/quantizer" id="ui-id-26"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Quantizer</span></a></li>
                            <li class="level1 nav-1-18 category-item ui-menu-item" role="presentation"><a
                                    href="/modular/random" id="ui-id-27"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Random</span></a></li>
                            <li class="level1 nav-1-19 category-item ui-menu-item" role="presentation"><a
                                    href="/modular/sampling" id="ui-id-28"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Sampling</span></a></li>
                            <li class="level1 nav-1-20 category-item ui-menu-item" role="presentation"><a
                                    href="/modular/sequencer" id="ui-id-29"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Sequencer</span></a></li>
                            <li class="level1 nav-1-21 category-item ui-menu-item" role="presentation"><a
                                    href="/modular/synth-voice" id="ui-id-30"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Synth Voice</span></a>
                            </li>
                            <li class="level1 nav-1-22 category-item parent ui-menu-item" role="presentation"><a
                                    href="/modular/utility" aria-haspopup="true"
                                    id="ui-id-31" class="ui-corner-all" tabindex="-1" role="menuitem"><span
                                        class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span><span>Utility</span></a>
                                <ul class="level1 submenu ui-menu ui-widget ui-widget-content ui-corner-all expanded"
                                    role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
                                    <li class="level2 nav-1-22-1 category-item first ui-menu-item" role="presentation">
                                        <a href="/modular/utility/audio-input-output"
                                            id="ui-id-45" class="ui-corner-all" tabindex="-1"
                                            role="menuitem"><span>Audio Input/Output</span></a></li>
                                    <li class="level2 nav-1-22-2 category-item last ui-menu-item" role="presentation"><a
                                            href="/modular/utility/function-generator"
                                            id="ui-id-46" class="ui-corner-all" tabindex="-1"
                                            role="menuitem"><span>Function Generator</span></a></li>
                                </ul>
                            </li>
                            <li class="level1 nav-1-23 category-item ui-menu-item" role="presentation"><a
                                    href="/modular/video" id="ui-id-32"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Video</span></a></li>
                            <li class="level1 nav-1-24 category-item last ui-menu-item" role="presentation"><a
                                    href="/modular/vca" id="ui-id-33" class="ui-corner-all"
                                    tabindex="-1" role="menuitem"><span>VCA</span></a></li>
                        </ul>
                    </li>
                    <li class="level0 nav-2 category-item level-top parent ui-menu-item" role="presentation"><a
                            href="/synthesisers1" class="level-top ui-corner-all"
                            aria-haspopup="true" id="ui-id-4" tabindex="-1" role="menuitem"><span
                                class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span><span>Synthesisers</span></a>
                        <ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu"
                            aria-hidden="true" aria-expanded="false" style="display: none; margin-top:30px;">
                            <li class="level1 nav-2-1 category-item first ui-menu-item" role="presentation"><a
                                    href="/synthesisers1/desktop-synths" id="ui-id-47"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Desktop Synths</span></a>
                            </li>
                            <li class="level1 nav-2-2 category-item ui-menu-item" role="presentation"><a
                                    href="/synthesisers1/semi-modular" id="ui-id-48"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Semi-Modular</span></a>
                            </li>
                            <li class="level1 nav-2-3 category-item ui-menu-item" role="presentation"><a
                                    href="/synthesisers1/keyboard-synths" id="ui-id-49"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Keyboard Synths</span></a>
                            </li>
                            <li class="level1 nav-2-4 category-item ui-menu-item" role="presentation"><a
                                    href="/synthesisers1/synth-upgrades" id="ui-id-50"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Synth Upgrades</span></a>
                            </li>
                            <li class="level1 nav-2-5 category-item last ui-menu-item" role="presentation"><a
                                    href="/synthesisers1/banana-synths" id="ui-id-51"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Banana Synths </span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="level0 nav-3 category-item level-top parent ui-menu-item" role="presentation"><a
                            href="/sequencers-drum-machines1"
                            class="level-top ui-corner-all" aria-haspopup="true" id="ui-id-5" tabindex="-1"
                            role="menuitem"><span class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span><span>Sequencers
                                &amp; Drum machines</span></a>
                        <ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu"
                            aria-hidden="true" aria-expanded="false" style="display: none;">
                            <li class="level1 nav-3-1 category-item first ui-menu-item" role="presentation"><a
                                    href="/sequencers-drum-machines1/sequencers"
                                    id="ui-id-52" class="ui-corner-all" tabindex="-1"
                                    role="menuitem"><span>Sequencers</span></a></li>
                            <li class="level1 nav-3-2 category-item last ui-menu-item" role="presentation"><a
                                    href="/sequencers-drum-machines1/drum-machines"
                                    id="ui-id-53" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Drum
                                        machines</span></a></li>
                        </ul>
                    </li>
                    <li class="level0 nav-4 category-item level-top parent ui-menu-item" role="presentation"><a
                            href="/midi-controllers1" class="level-top ui-corner-all"
                            aria-haspopup="true" id="ui-id-6" tabindex="-1" role="menuitem"><span
                                class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span><span>MIDI Controllers</span></a>
                        <ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu"
                            aria-hidden="true" aria-expanded="false" style="display: none;">
                            <li class="level1 nav-4-1 category-item first ui-menu-item" role="presentation"><a
                                    href="/midi-controllers1/keyboard-controllers"
                                    id="ui-id-54" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Keyboard
                                        controllers</span></a></li>
                            <li class="level1 nav-4-2 category-item ui-menu-item" role="presentation"><a
                                    href="/midi-controllers1/pad-controllers" id="ui-id-55"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Pad Controllers</span></a>
                            </li>
                            <li class="level1 nav-4-3 category-item last ui-menu-item" role="presentation"><a
                                    href="/midi-controllers1/other-midi-controllers"
                                    id="ui-id-56" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Other MIDI
                                        Controllers</span></a></li>
                        </ul>
                    </li>
                    <li class="level0 nav-5 category-item level-top parent ui-menu-item" role="presentation"><a
                            href="/recording-studio1" class="level-top ui-corner-all"
                            aria-haspopup="true" id="ui-id-7" tabindex="-1" role="menuitem"><span
                                class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span><span>Recording &amp;
                                Studio</span></a>
                        <ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu"
                            aria-hidden="true" aria-expanded="false" style="display: none;">
                            <li class="level1 nav-5-1 category-item first ui-menu-item" role="presentation"><a
                                    href="/recording-studio1/audio-interfaces" id="ui-id-57"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Audio
                                        Interfaces</span></a></li>
                            <li class="level1 nav-5-2 category-item ui-menu-item" role="presentation"><a
                                    href="/recording-studio1/audio-recorder" id="ui-id-58"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Audio Recorder</span></a>
                            </li>
                            <li class="level1 nav-5-3 category-item ui-menu-item" role="presentation"><a
                                    href="/recording-studio1/desktop-effects" id="ui-id-59"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Desktop Effects</span></a>
                            </li>
                            <li class="level1 nav-5-4 category-item ui-menu-item" role="presentation"><a
                                    href="/recording-studio1/pedal-effects" id="ui-id-60"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Pedal Effects</span></a>
                            </li>
                            <li class="level1 nav-5-5 category-item ui-menu-item" role="presentation"><a
                                    href="/recording-studio1/microphones" id="ui-id-61"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Microphones</span></a>
                            </li>
                            <li class="level1 nav-5-6 category-item ui-menu-item" role="presentation"><a
                                    href="/recording-studio1/microphone-accessories"
                                    id="ui-id-62" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Microphone
                                        Accessories</span></a></li>
                            <li class="level1 nav-5-7 category-item ui-menu-item" role="presentation"><a
                                    href="/recording-studio1/midi-interfaces" id="ui-id-63"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>MIDI Interfaces</span></a>
                            </li>
                            <li class="level1 nav-5-8 category-item ui-menu-item" role="presentation"><a
                                    href="/recording-studio1/mixers" id="ui-id-64"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Mixers</span></a></li>
                            <li class="level1 nav-5-9 category-item ui-menu-item" role="presentation"><a
                                    href="/recording-studio1/software" id="ui-id-65"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Software</span></a></li>
                            <li class="level1 nav-5-10 category-item ui-menu-item" role="presentation"><a
                                    href="/recording-studio1/studio-monitors" id="ui-id-66"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Studio Monitors</span></a>
                            </li>
                            <li class="level1 nav-5-11 category-item last ui-menu-item" role="presentation"><a
                                    href="/recording-studio1/studio-monitor-accessories"
                                    id="ui-id-67" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Studio
                                        Monitor Accessories</span></a></li>
                        </ul>
                    </li>
                    <li class="level0 nav-6 category-item level-top parent ui-menu-item" role="presentation"><a
                            href="/cables-accessories1" class="level-top ui-corner-all"
                            aria-haspopup="true" id="ui-id-8" tabindex="-1" role="menuitem"><span
                                class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span><span>Cables &amp;
                                Accessories</span></a>
                        <ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu"
                            aria-hidden="true" aria-expanded="false" style="display: none;">
                            <li class="level1 nav-6-1 category-item first ui-menu-item" role="presentation"><a
                                    href="/cables-accessories1/audio-cables" id="ui-id-68"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Audio Cables</span></a>
                            </li>
                            <li class="level1 nav-6-2 category-item ui-menu-item" role="presentation"><a
                                    href="/cables-accessories1/bags-stands" id="ui-id-69"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Bags &amp;
                                        Stands</span></a></li>
                            <li class="level1 nav-6-3 category-item ui-menu-item" role="presentation"><a
                                    href="/cables-accessories1/eurorack-accessories"
                                    id="ui-id-70" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Eurorack
                                        Accessories</span></a></li>
                            <li class="level1 nav-6-4 category-item ui-menu-item" role="presentation"><a
                                    href="/cables-accessories1/eurorack-patch-cables"
                                    id="ui-id-71" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Eurorack
                                        Patch Cables</span></a></li>
                            <li class="level1 nav-6-5 category-item ui-menu-item" role="presentation"><a
                                    href="/cables-accessories1/eurorack-power-cables"
                                    id="ui-id-72" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Eurorack
                                        Power Cables</span></a></li>
                            <li class="level1 nav-6-6 category-item ui-menu-item" role="presentation"><a
                                    href="/cables-accessories1/merch" id="ui-id-73"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Merch</span></a></li>
                            <li class="level1 nav-6-7 category-item ui-menu-item" role="presentation"><a
                                    href="/cables-accessories1/midi-cables" id="ui-id-74"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>MIDI Cables</span></a>
                            </li>
                            <li class="level1 nav-6-8 category-item last ui-menu-item" role="presentation"><a
                                    href="/cables-accessories1/power-supplies" id="ui-id-75"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Power Supplies</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="level0 nav-7 category-item last level-top parent ui-menu-item" role="presentation"><a
                            href="/sale" class="level-top ui-corner-all"
                            aria-haspopup="true" id="ui-id-9" tabindex="-1" role="menuitem"><span
                                class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span><span>Sale</span></a>
                        <ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu"
                            aria-hidden="true" aria-expanded="false" style="display: none; margin-top:30px;">
                            <li class="level1 nav-7-1 category-item first ui-menu-item" role="presentation"><a
                                    href="/sale/20-off" id="ui-id-76" class="ui-corner-all"
                                    tabindex="-1" role="menuitem"><span>20% off</span></a></li>
                            <li class="level1 nav-7-2 category-item ui-menu-item" role="presentation"><a
                                    href="/sale/50-off" id="ui-id-77" class="ui-corner-all"
                                    tabindex="-1" role="menuitem"><span>50% off</span></a></li>
                            <li class="level1 nav-7-3 category-item last ui-menu-item" role="presentation"><a
                                    href="/sale/b-stock1" id="ui-id-78"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>B-Stock</span></a></li>
                        </ul>
                    </li>
                    <li class="level0 category-item level-top parent ui-menu-item" role="presentation">
                        <a href="/blog.html" class="level-top ui-corner-all"
                            aria-haspopup="true" id="ui-id-6" tabindex="-1" role="menuitem">
                            <span class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span>
                            <span>Blog</span>
                        </a>
                        <ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu"
                            aria-expanded="false" style="display: none; margin-top:30px;" aria-hidden="true">
                            <li class="level1 category-item ui-menu-item" role="presentation"><a
                                    href="/blog/category/signal-sounds-news.html"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Signal Sounds
                                        News</span></a></li>
                            <li class="level1 category-item ui-menu-item" role="presentation"><a
                                    href="/blog/category/patch-notes.html"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Patch Notes</span></a>
                            </li>
                            <li class="level1 category-item ui-menu-item" role="presentation"><a
                                    href="/blog/category/interview.html"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Interview</span></a></li>
                            <li class="level1 category-item ui-menu-item" role="presentation"><a
                                    href="/blog/category/roundups.html"
                                    class="ui-corner-all" tabindex="-1" role="menuitem"><span>Roundups</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="section-item-title nav-sections-item-title" data-role="collapsible" role="tab"
            data-collapsible="true" aria-controls="store.links" aria-selected="false" aria-expanded="false"
            tabindex="0">
            <a class="nav-sections-item-switch" data-toggle="switch" href="#store.links">
                Account </a>
        </div>
        <div class="section-item-content nav-sections-item-content" id="store.links" data-role="content" role="tabpanel"
            aria-hidden="true" style="display: none;">
            <!-- Account links -->
        </div>
    </div>
</div>

<div class="navPages-wider desktop">
  {{#if theme_settings.show_logo_in_sticky_nav '===' true}}
  <li class="navPages-item sticky-object logo">
    {{> components/common/sticky-logo}}
  </li>
  {{/if}}
  <div class="nav-minus-logo">
  <div class="mega-cat-nav {{#if theme_settings.show_logo_in_sticky_nav '===' true}}sticky-logo{{/if}}">
    <li class="navPages-item navPages-item-page container-header btn">
      <a class="navPages-action">
        <svg class="mega-menu-icon open"><use xlink:href="#icon-v-menu" /></svg><svg class="mega-menu-icon close"><use xlink:href="#icon-close" /><span class="burger-menu">{{theme_settings.mega_nav_name}}</span><span class="burger-menu fixed">{{theme_settings.sticky_mega_nav_name}}</span>
      </a>
      <div class="clear"></div>
    </li>
    <nav class="navPages">
      <div class="mega-cat-dropdown">
        <div class="inner">

        <div id="page-wrapper">
        <div class="category-list">
          <h2 class="container-header mobile">Categories</h2>
        {{#each categories}}
          <li class="navPages-item top-level categories{{#if is_active}} activePage{{/if}}">
          {{#if ../theme_settings.navigation_design '===' 'simple'}}
              {{> components/common/navigation-list}}
          {{/if}}
          {{#if ../theme_settings.navigation_design '===' 'alternate'}}
              {{> components/common/navigation-list-alternate}}
          {{/if}}
          </li>
        {{/each}}
        </div>
      <div class="pagination-container"><a class="navPages-action previous"><i class="icon prev" aria-hidden="true"><svg><use xlink:href="#icon-chevron-left" /></svg></i></a><span class="dots"></span><a class="navPages-action next"><i class="icon next" aria-hidden="true"><svg><use xlink:href="#icon-chevron-left" /></svg></i></a></div>
      <hr class="sidenav"/>
        </div>
        </div>

        {{#if theme_settings.show_pages_in_mobile_nav '===' true}}
        <div class="sticky-navpages">
          <h2 class="container-header mobile">Navigation</h2>
          {{#each pages}}
            <li class="navPages-item top-level{{#if is_active}} activePage{{/if}} pages mega-nav-pages">
                {{> components/common/mega-nav-page-list}}
            </li>
          {{/each}}
        </div>
        {{/if}}

        <!-- BRANDS VISIBILITY -->
        <div class="brands {{#if theme_settings.show_brands_in_main_mega_nav '===' false}}brands-hidden {{/if}}{{#if theme_settings.show_brands_in_sticky_nav '===' false}}sticky-brands-hidden{{/if}}">
          <h2 class="container-header mobile">Brands</h2>
            {{#each shop_by_brand}}
                   <li class="navPages-item mobile">
                        <a class="navPages-action" href="{{url}}">{{name}}</a>
                    </li>
            {{/each}}
                    <li class="navPages-item mobile view-all brands">
                        <a class="navPages-action" href="/brands/">View all Brands</a>
                    </li>
        </div>
        {{#if customer.store_credit.value '>' 0}}
        <ul class="nav-user-menu">
            <li class="navUser-item navUser-item--storecredit">
                <a class="navUser-action navUser-action--storeCredit"
                   data-dropdown="storeCredit-dropdown"
                   data-options="align:bottom"
                   href="{{urls.cart}}">
                        <span class="navUser-action-divider">{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}</span>
                </a>
                <div class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true">
                    {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
                </div>
                <div class="clear"></div>
            </li>
        </ul>
        {{/if}}
            <div class="clear"></div>

        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="nav-right-fixed">
    <div class="nav-right">
    <ul class="navPages-list nav-page-list one {{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
      {{#unless theme_settings.hide_category_navigation}}
        {{#each categories}}
            <li class="navPages-item categories">
            {{#if ../theme_settings.navigation_design '===' 'simple'}}
                {{> components/common/navigation-list}}
            {{/if}}
            {{#if ../theme_settings.navigation_design '===' 'alternate'}}
                {{> components/common/navigation-list-alternate}}
            {{/if}}
            </li>
        {{/each}}
        {{/unless}}
        {{#unless theme_settings.hide_content_navigation}}
        <ul class="navPages-list nav-page-list two">
       {{#each pages}}
           <li class="navPages-item">
               {{> components/common/navigation-page-list}}
           </li>
       {{/each}}
       {{#if settings.phone_number}}
         <li class="navPages-item navPages-item-page pages phone-number">
           <a class="navPages-action phone-number">{{settings.phone_number}}</a>
         </li>
       {{/if}}
   </ul>
        {{/unless}}

    </ul>
    </div>



</nav>

</div>

</div>
</div>
