<nav class="navUser">
    <ul class="navUser-section navUser-section--alt">
        {{#if customer.store_credit.value '>' 0}}
            <li class="navUser-item navUser-item--storecredit desktop">
                <a class="navUser-action navUser-action--storeCredit"
                   data-dropdown="storeCredit-dropdown"
                   data-options="align:bottom"
                   href="{{urls.cart}}">
                        <span class="navUser-action-divider">{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}</span>
                </a>
                <div class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true">
                    {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
                </div>
                <div class="clear"></div>
            </li>
        {{/if}}

        <div class="dropdown dropdown--quickSearch desktop" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
            {{> components/common/quick-search}}
        </div>

        <div class="user-icons">
  

          <li class="navUser-item navUser-item--cart user-icons">
            <a class="navUser-action"
               data-cart-preview
               data-dropdown="cart-preview-dropdown"
               data-options="align:right"
               href="{{urls.cart}}"
               aria-label="{{lang 'cart.nav_aria_label'}}"
            >
                <!-- <span class="navUser-item-cartLabel">{{lang 'common.cart'}}</span>
                <span class="countPill cart-quantity"></span> -->
                <span class="navUser-item-cartLabel">
                    <svg class="header-icon cart-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" style="enable-background:new 0 0 128 128;" version="1.1" viewBox="0 0 128 128" xml:space="preserve"><g><polygon points="86,59 119,59 119,67 86,67 86,75 108.2,75 99.7,119 28.3,119 19.8,75 42,75 42,67 9,67 9,58 42,58 42,50 1,50 1,75 11.7,75 21.7,127 25,127 103,127 106.3,127 116.3,75 127,75 127,51 86,51 "/><path d="M52,75h24V1H52V75z M60,9h8v58h-8V9z"/></g></svg>
                    </span> 
                    
                    <span class="countPill cart-quantity">
                        
                        
                    </span>
            </a>

            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
        </li>

          {{>components/common/currency-selector}}

        {{#if settings.gift_certificates_enabled}}
            <li class="navUser-item user-icons gift-certificates">
                <a alt="Gift Certificates" class="navUser-action" href="{{urls.gift_certificate.purchase}}"><svg class="header-icon gift-icon"><use xlink:href="#icon-gift" /></svg></a>
            </li>
        {{/if}}

        <a class="navUser-action navUser-item--compare" href="{{urls.compare}}" data-compare-nav><svg class="header-icon compare-icon"><use xlink:href="#icon-compare"></use></svg><span class="countPill countPill--positive countPill--alt compare"></span></a>

        <!-- <li class="navUser-item navUser-item--account user-icons account"> -->
                {{#if settings.account_creation_enabled}}
                    <!-- <a class="navUser-action" href="{{urls.auth.login}}"><svg class="header-icon account-icon"><use xlink:href="#icon-account"></use></svg></a> -->
                    {{> components/common/account-link}}
                {{/if}}
        <!-- </li> -->

        <li class="navUser-item quicksearch mobile">
            <a class="navUser-action navUser-action--quickSearch desktop-toggle" href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false">
                <svg class="header-icon search-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" style="enable-background:new 0 0 128 128;" version="1.1" viewBox="0 0 128 128" xml:space="preserve"><g><path d="M109,55c0-29.8-24.2-54-54-54C25.2,1,1,25.2,1,55s24.2,54,54,54c13.5,0,25.8-5,35.2-13.1l25.4,25.4l5.7-5.7L95.9,90.2 C104,80.8,109,68.5,109,55z M55,101C29.6,101,9,80.4,9,55S29.6,9,55,9s46,20.6,46,46S80.4,101,55,101z"/><path d="M25.6,30.9l6.2,5.1C37.5,29,46,25,55,25v-8C43.6,17,32.9,22.1,25.6,30.9z"/><path d="M17,55h8c0-2.1,0.2-4.1,0.6-6.1l-7.8-1.6C17.3,49.8,17,52.4,17,55z"/></g></svg>
            </a>
        </li>

    </ul>
    </div>

</nav>
