<div class="navPage-subMenu navPage-subMenu-horizontal second-level-flyout" id="navPages-{{id}}" aria-hidden="true" tabindex="-1">
  <div class="category-title">
    <h2><a class="category-title" href="{{url}}">{{name}}</a></h2>
    <div class="flyout-pagination-container top">
      <a class="navPages-action previous">
        <i class="icon prev" aria-hidden="true">
          <svg><use xlink:href="#icon-circle-left" /></svg>
        </i>
      </a>
      <!-- <span class="dots"></span> -->
      <a class="navPages-action next">
        <i class="icon next" aria-hidden="true">
          <svg><use xlink:href="#icon-circle-right" /></svg>
        </i>
      </a>
    </div>
  </div>
  <div class="flyout-pagination-container bottom">
    <a class="navPages-action previous">
      <i class="icon prev" aria-hidden="true">
        <svg><use xlink:href="#icon-chevron-left" /></svg>
      </i>
    </a>
    <span class="dots"></span>
    <a class="navPages-action next">
      <i class="icon next" aria-hidden="true">
        <svg><use xlink:href="#icon-chevron-left" /></svg>
      </i>
    </a>
  </div>

  <div class="desktop">
    <ul class="navPage-subMenu-list all-second-level-plus-container flyout-page-wrapper">
        {{#each children}}
            <li class="navPage-subMenu-item-child second-level">
                {{#if children}}
                    <a class="navPage-subMenu-action navPages-action navPages-action-depth-max has-subMenu{{#if is_active}} activePage{{/if}} second-level" href="{{url}}">
                        {{name}} <i class="icon navPages-action-moreIcon second-level" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                    </a>
                    {{> components/common/navigation-dropdown-third-level}}
                {{else}}
                    <a class="navPage-subMenu-action navPages-action{{#if is_active}} activePage{{/if}} second-level" href="{{url}}">{{name}}</a>
                    <!-- <a class="navPage-subMenu-action navPages-action navPages-action-depth-max view-all" href="{{url}}">View All</a> -->
                {{/if}}
            </li>
        {{/each}}
        <!-- <div class="flyout-pagination-container bottom">
          <a class="navPages-action previous">
            <i class="icon prev" aria-hidden="true">
              <svg><use xlink:href="#icon-chevron-left" /></svg>
            </i>
          </a>
          <span class="dots"></span>
          <a class="navPages-action next">
            <i class="icon next" aria-hidden="true">
              <svg><use xlink:href="#icon-chevron-left" /></svg>
            </i>
          </a>
        </div> -->

    </ul>
    </div>

<div class="mobile">
    <ul class="navPage-subMenu-list all-second-level-plus-container flyout-page-wrapper">
        {{#each children}}
            <li class="navPage-subMenu-item-child second-level">
                {{#if children}}
                    <a class="navPage-subMenu-action navPages-action navPages-action-depth-max has-subMenu{{#if is_active}} activePage{{/if}} second-level" href="{{url}}">
                        {{name}}
                    </a>
                    <i class="icon navPages-action-moreIcon second-level" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                    {{> components/common/navigation-dropdown-third-level}}
                {{else}}
                    <a class="navPage-subMenu-action navPages-action{{#if is_active}} activePage{{/if}} second-level" href="{{url}}">{{name}}</a>
                    <!-- <a class="navPage-subMenu-action navPages-action navPages-action-depth-max view-all" href="{{url}}">View All</a> -->
                {{/if}}
            </li>
        {{/each}}
        <!-- <div class="flyout-pagination-container bottom">
          <a class="navPages-action previous">
            <i class="icon prev" aria-hidden="true">
              <svg><use xlink:href="#icon-chevron-left" /></svg>
            </i>
          </a>
          <span class="dots"></span>
          <a class="navPages-action next">
            <i class="icon next" aria-hidden="true">
              <svg><use xlink:href="#icon-chevron-left" /></svg>
            </i>
          </a>
        </div> -->

    </ul>
    </div>
</div>
