<div class="footer-payment-icons">
    {{#if theme_settings.show_accept_amazon_pay}}
        <svg class="footer-payment-icon amazonpay"><use xlink:href="#icon-logo-amazonpay"></use></svg>
    {{/if}}
    {{#if theme_settings.show_accept_amex}}
        <svg class="footer-payment-icon amex"><use xlink:href="#icon-logo-american-express"></use></svg>
    {{/if}}
    {{#if theme_settings.show_accept_apple_pay}}
        <svg class="footer-payment-icon applepay"><use xlink:href="#icon-logo-applepay"></use></svg>
    {{/if}}
    {{#if theme_settings.show_accept_chase_pay}}
        <svg class="footer-payment-icon chasepay"><use xlink:href="#icon-logo-chasepay"></use></svg>
    {{/if}}
    {{#if theme_settings.show_accept_discover}}
        <svg class="footer-payment-icon discover"><use xlink:href="#icon-logo-discover"></use></svg>
    {{/if}}
    {{#if theme_settings.show_accept_mastercard}}
        <svg class="footer-payment-icon mastercard"><use xlink:href="#icon-logo-mastercard"></use></svg>
    {{/if}}
    {{#if theme_settings.show_accept_masterpass}}
        <svg class="footer-payment-icon masterpass"><use xlink:href="#icon-logo-masterpass"></use></svg>
    {{/if}}
    {{#if theme_settings.show_accept_paypal}}
        <svg class="footer-payment-icon paypal"><use xlink:href="#icon-logo-paypal"></use></svg>
    {{/if}}
    {{#if theme_settings.show_accept_visa}}
        <svg class="footer-payment-icon visa"><use xlink:href="#icon-logo-visa"></use></svg>
    {{/if}}
    {{#if theme_settings.show_accept_visa_pay}}
        <svg class="footer-payment-icon visapay"><use xlink:href="#icon-logo-visapay"></use></svg>
    {{/if}}
    <div class="clear"></div>
</div>
