---
blog:
    posts:
        limit: 10
        pages: 3
        summary: 200
---
{{#partial "page"}}

<main class="page blog">
  {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h1 class="page-heading">{{ blog.name }}</h1>
    <div class="blog-container">
        {{#each blog.posts}}
            {{> components/blog/post-page post=this}}
        {{/each}}
    </div>
    <div class="clear"></div>

    {{> components/common/paginator pagination.blog}}
</main>

{{/partial}}
{{> layout/base}}
