<div class="wrapper">
  <div class="tabs">
    <div class="tab">
  {{#if product.description}}
  {{#if theme_settings.show_product_overview_tab '===' true}}
      <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
      <label for="tab-1" class="tab-label tab-label1">Product Overview</label>
      <div class="tab-content" id="product-tab">
        {{{product.description}}}
      </div>
  {{/if}}
  {{/if}}
  </div>

    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
      <label for="tab-2" class="tab-label tab-label2">Technical Spec</label>
      <div class="tab-content" id="product-tab2">
             {{#each product.custom_fields}}
    {{#if name}}
      {{#if name '===' 'Technical Spec'}}
        {{{value}}}
      {{/if}}
    {{/if}}
  {{/each}} 
            </div>
        </div>
    </div>
  </div>

  
